.form{
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      width: 30%;
      margin: 80px auto;
      height: 210px;
      border-radius: 8px;
      border: 2px solid red;
}

.input-1{
      margin-left: 35px;
      margin-top: 40px;
      padding: 5px;
      width: 70%;
      border: 2px solid red;
      border-radius: 4px;
}
.input-2{
      margin-left: 35px;
      margin-top: 15px;
      padding: 5px;
      width: 70%;
      border: 2px solid red;
      border-radius: 4px;
}
.form button{
      width: 75%;
      margin-top: 30px;
      margin-left: 35px;
      padding: 8px 0px;
      background-color: red;
      color: white;
      font-weight: bolder;
      border: none;
      border-radius: 4px;
}
.para{
      color: red;
      font-size: 10px;
      padding-left: 35px;
      margin-bottom: -10px;
}
.success{
      color:green;
      font-size: 10px;
      padding-left: 35px;
      margin-bottom: -13px;
}